.elementor-8 .elementor-element.elementor-element-f4e96eb {
  --display: flex;
  --min-height: 100vh;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 90px;
  --padding-bottom: 90px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-8 .elementor-element.elementor-element-f4e96eb,
.elementor-8 .elementor-element.elementor-element-f4e96eb::before {
  --border-transition: 0.3s;
}
body:not(.rtl) .elementor-8 .elementor-element.elementor-element-5e97f9c {
  left: 0px;
}
body.rtl .elementor-8 .elementor-element.elementor-element-5e97f9c {
  right: 0px;
}
.elementor-8 .elementor-element.elementor-element-5e97f9c {
  top: 0px;
}
.elementor-8 .elementor-element.elementor-element-879ae11 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --background-transition: 0.3s;
  --overlay-opacity: 1;
  --margin-top: -150px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 90px;
  --padding-bottom: 90px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-8
  .elementor-element.elementor-element-879ae11:not(.elementor-motion-effects-element-type-background),
.elementor-8
  .elementor-element.elementor-element-879ae11
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("/wp-content/uploads/2026/02/Gemini_Generated_Image_svlflrsvlflrsvlf-2-2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-8 .elementor-element.elementor-element-879ae11::before,
.elementor-8
  .elementor-element.elementor-element-879ae11
  > .elementor-background-video-container::before,
.elementor-8
  .elementor-element.elementor-element-879ae11
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-8
  .elementor-element.elementor-element-879ae11
  > .elementor-background-slideshow::before,
.elementor-8
  .elementor-element.elementor-element-879ae11
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-8
  .elementor-element.elementor-element-879ae11
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: transparent;
  background-image: linear-gradient(180deg, #fa44a50a 0%, #ffb9de 90%);
}
.elementor-8 .elementor-element.elementor-element-879ae11,
.elementor-8 .elementor-element.elementor-element-879ae11::before {
  --border-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-07a3e16 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-b1c780f {
  width: 100%;
  max-width: 100%;
}
.elementor-8 .elementor-element.elementor-element-fba8a2e {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-6b22e1c
  > .elementor-widget-container {
  margin: -120px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-0179438 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --background-transition: 0.3s;
  --overlay-opacity: 1;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 90px;
  --padding-bottom: 90px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-8 .elementor-element.elementor-element-0179438::before,
.elementor-8
  .elementor-element.elementor-element-0179438
  > .elementor-background-video-container::before,
.elementor-8
  .elementor-element.elementor-element-0179438
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-8
  .elementor-element.elementor-element-0179438
  > .elementor-background-slideshow::before,
.elementor-8
  .elementor-element.elementor-element-0179438
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-8
  .elementor-element.elementor-element-0179438
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: transparent;
  background-image: radial-gradient(
    at center center,
    #fa44a500 0%,
    #ffb9de 72%
  );
}
.elementor-8 .elementor-element.elementor-element-0179438,
.elementor-8 .elementor-element.elementor-element-0179438::before {
  --border-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-cbb7774 {
  width: 100%;
  max-width: 100%;
}
.elementor-8 .elementor-element.elementor-element-f63530e {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-8
  .elementor-element.elementor-element-f63530e:not(.elementor-motion-effects-element-type-background),
.elementor-8
  .elementor-element.elementor-element-f63530e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffb9de;
}
.elementor-8 .elementor-element.elementor-element-f63530e,
.elementor-8 .elementor-element.elementor-element-f63530e::before {
  --border-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-9f90409 {
  z-index: 9;
}
.elementor-8
  .elementor-element.elementor-element-9f90409
  > .elementor-widget-container {
  --e-transform-origin-x: center;
  --e-transform-origin-y: center;
}
.elementor-8 .elementor-element.elementor-element-9f90409 img {
  width: 320px;
}
.elementor-8 .elementor-element.elementor-element-7314f03 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --background-transition: 0.3s;
  --overlay-opacity: 1;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 90px;
  --padding-bottom: 90px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-8
  .elementor-element.elementor-element-7314f03:not(.elementor-motion-effects-element-type-background),
.elementor-8
  .elementor-element.elementor-element-7314f03
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("/wp-content/uploads/2026/02/Gemini_Generated_Image_svlflrsvlflrsvlf-2-2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-8 .elementor-element.elementor-element-7314f03::before,
.elementor-8
  .elementor-element.elementor-element-7314f03
  > .elementor-background-video-container::before,
.elementor-8
  .elementor-element.elementor-element-7314f03
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-8
  .elementor-element.elementor-element-7314f03
  > .elementor-background-slideshow::before,
.elementor-8
  .elementor-element.elementor-element-7314f03
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-8
  .elementor-element.elementor-element-7314f03
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: transparent;
  background-image: linear-gradient(360deg, #fa44a50a 0%, #ffb9de 80%);
}
.elementor-8 .elementor-element.elementor-element-7314f03,
.elementor-8 .elementor-element.elementor-element-7314f03::before {
  --border-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-6915223 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-30ed7ec {
  width: 100%;
  max-width: 100%;
}
.elementor-8 .elementor-element.elementor-element-b6beb58 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-867b0b4 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --background-transition: 0.3s;
  --margin-top: -160px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 90px;
  --padding-bottom: 90px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-8
  .elementor-element.elementor-element-867b0b4:not(.elementor-motion-effects-element-type-background),
.elementor-8
  .elementor-element.elementor-element-867b0b4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("/wp-content/uploads/2026/02/Gemini_Generated_Image_svlflrsvlflrsvlf-2-2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-8 .elementor-element.elementor-element-867b0b4,
.elementor-8 .elementor-element.elementor-element-867b0b4::before {
  --border-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-4ea00fc {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-a9133ed {
  width: 100%;
  max-width: 100%;
}
.elementor-8 .elementor-element.elementor-element-08d44ad {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-8 .elementor-element.elementor-element-08d44ad,
.elementor-8 .elementor-element.elementor-element-08d44ad::before {
  --border-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-cdffbc8 {
  width: 100%;
  max-width: 100%;
  z-index: 9;
}
body.elementor-page-8:not(.elementor-motion-effects-element-type-background),
body.elementor-page-8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffa0b5;
}
@media (min-width: 768px) {
  .elementor-8 .elementor-element.elementor-element-fba8a2e {
    --width: 50%;
  }
} /* Start custom CSS for container, class: .elementor-element-879ae11 */
.elementor-8 .elementor-element.elementor-element-879ae11 {
  /* Fades the top 20% of the image to transparent */
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 12%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 12%);
} /* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-9f90409 */
.elementor-8 .elementor-element.elementor-element-9f90409 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-867b0b4 */
.elementor-8 .elementor-element.elementor-element-867b0b4 {
  /* Fades the top 20% of the image to transparent */
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 12%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 12%);
} /* End custom CSS */
